.ycm_extra_conf.py
doc/html
doc/latex
doc/warnings.txt
build
lib
tags
DDDGP
Woooo
bin
compile_commands.json
*.gch

# HyperNEAT files
*.population
*.parameters
*.substrate
*.csv
*.genome

# Temporary blender files
*.blend1

!shaders/lib
