[submodule "deps/assimp"]
	path = deps/assimp
	url = git@github.com:assimp/assimp.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/SOIL"]
	path = deps/SOIL
	url = git@github.com:kbranigan/Simple-OpenGL-Image-Library.git
[submodule "deps/backward-cpp"]
	path = deps/backward-cpp
	url = git@github.com:bombela/backward-cpp.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "deps/bullet"]
	path = deps/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "deps/mmm"]
	path = deps/mmm
	url = git@github.com:Thhethssmuz/mmm.git
[submodule "deps/sol2"]
	path = deps/sol2
	url = git@github.com:ThePhD/sol2.git
[submodule "deps/MultiNEAT/MultiNEAT"]
	path = deps/MultiNEAT/MultiNEAT
	url = git@github.com:peter-ch/MultiNEAT.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
