[submodule "deps/assimp"]
	path = deps/assimp
	url = git@github.com:assimp/assimp.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/SOIL"]
	path = deps/SOIL
	url = git@github.com:kbranigan/Simple-OpenGL-Image-Library.git
[submodule "deps/backward-cpp"]
	path = deps/backward-cpp
	url = git@github.com:bombela/backward-cpp.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
